// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.red{
    background-color: #ff5b4f;
}

.yellow{
    background-color: #ebeb52;
}

.green{
    background-color: #4ef56a;
}
