# Restrict to NCSU IPs, while using shibboleth
<RequireAll>
  <RequireAny>
    Require ip 152.1.0.0/16
    Require ip 152.7.0.0/16
    Require ip 152.14.0.0/16
    Require ip 10.0.0.0/8
</RequireAny>

  # Shibboleth config
  AuthType shibboleth
  ShibRequestSetting requireSession false
  Require shibboleth
</RequireAll>


<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
